section.especiliadades {
  padding: 40px 4%;
}

section.especiliadades .flex {
  gap: 60px;
}

.especiliadades .especialidades-box {
  color: #fff;
  padding: 40px;
  border-radius: 20px;
  margin-top: 45px;
  transition: .2s;
}

.especiliadades .especialidades-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #ffffff78;
}

.especiliadades .especialidades-box i {
  font-size: 70px;
  color: #004bad;
}

.especiliadades .especialidades-box h3 {
  font-size: 28px;
  margin: 15px 0;
}