* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #000;
  height: 100vh;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.btn-contato button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: #004bad;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: .2s;
}



h2.titulo {
  color: #fff;
  font-size: 38px;
  text-align: center;
}

h2.titulo span {
  color: #004bad;
}

button:hover,
form .btn-enviar input:hover {
  box-shadow: 0px 0px 8px #004bad;
  transform: scale(1.05);
}